body{
    background-color: burlywood;
    color: cadetblue;
    height: 2000px;
    width: 800px;
    margin: auto;
}
html{
    background-color: cornflowerblue;
}
.imgbx{
    height: 250px;
    width: 100%;
    float: left;
}
.gall{
    float: left;
    background-color: pink;
    margin-left: 60px;
    margin-bottom: 25px;
}
.bx{
    height: 200px;
    width: 280px;
    padding: 15px;
}
h3{
    color: black;
    text-align: center;
}